
  <manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.okode.richlocalnotifications.capacitorrichlocalnotifications">
    <application>
      <receiver
        android:exported="false"
        android:name="com.okode.richlocalnotifications.RichLocalNotificationDismissReceiver"/>
      <receiver
        android:exported="false"
        android:name="com.okode.richlocalnotifications.TimedNotificationPublisher"/>
    </application>
  </manifest>